* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300;
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 330px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100px;
  height: 481px;
  border: 1px solid #E1E1E1;
  border-radius: 7px;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.5) translateY(50%);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 500ms ease-out;
}
.fade-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.5) translateY(50%);
  transition: all 500ms ease-out;
}

.text-input {
  margin: 0px 20px;
  padding: 5px;
  border: none;
  border-bottom: 1.5px solid #E1E1E1;
  outline: none;
}

.danger {
  color: #ee3939;
  font-weight: 400;
}

.progress-bar {
  background: #488FE3;
  height: 100%;
  border: none;
  margin-left: -0.5px;
}

.date-form {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.gender-form {
  width: 100%;
  padding: 0 20px;
  display: flex;
  overflow: hidden;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.gender-label {
  text-align: center;
  margin-top: 15px;
}

.about-label {
  text-align: center;
  margin-top: 15px;
}

.about-select {
  margin: 0 20px;
  height: 35px;
  padding: 0 20px;
  font-variant: small-caps;
}

.section-2-btn {
  display: flex;
}

.back-btn {
  text-decoration: none;
  color: #ccc;
  margin: 15px 15px 0 20px;
}

.gender-form label {
  border: 1px solid rgb(168, 168, 168);
  text-align: center;
  color: rgb(117, 117, 117);
  display: inline-block;
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
  font-variant: small-caps;
}

input[type=radio]:checked + label {
  color: #fff;
  background: #488FE3;
}

.date-input {
  width: 100%;
  text-align: center;
  padding: 8px 0;
}

.gender-input {
  border: 2px solid #ccc;
  width: 100%;
}

.sign-up {
  color: #488FE3;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
}

.progress-round {
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  margin: 20px 0 40px 0; 
  padding: 0;
  height: 9px;
}

.date-label {
  text-align: center;
  margin:-20px 0 0 0;
}

.correct {
  color: rgb(2, 110, 2);
  font-weight: 400;
}

.btn {
  flex-direction: row;
  margin: 15px 20px 15px auto;
}

.dashboard-btn {
  background: transparent;
  border: 1.5px solid #488FE3;
  border-radius: 5px;
  color: #488FE3;
  cursor: pointer;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0 auto 100px auto;
  padding: 10px 5px;
  width: 135px;
}

.dashboard-btn img {
  margin-left: 5px;
}

.check-img {
  display: block;
  margin: 40px auto 30px auto;
  width: 128px;
}

.bottom-line {
  border: none;
  border-bottom: 1.5px solid #E1E1E1;
  margin: 80px 0 0 -1px;
  width: 100% + 1px;
}

.next-btn {
  background: none;
  border: none;
  color: #488FE3;
  font-size: 15px;
  margin-right: 7px;
  width: 30px;
}

.main-label {
  color: #7b7b76;
  font-variant: small-caps;
  padding:10px 20px;
}